@{
    ViewData["Title"] = "Index";
    var currentUser = ViewData["currentUser"];
    var currentClaim = ViewData["currentClaim"];
}

<h2>Current User:</h2> @currentUser
<h2>Current Claim:</h2> @currentClaim
<a asp-controller="cart" asp-action="index" class="btn btn-primary">View Cart</a>