@model UserLogin

@{
    ViewBag.Title = "Login";
}

<h3>Login Page</h3>
@ViewBag.error
<form method="post" asp-controller="accounts" asp-action="login">
    <table border="0" cellpadding="2" cellspacing="2">
        <tr>
            <td>Username</td>
            <td><input type="text" name="EmailID" asp-for="EmailID"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="Pword" asp-for="Pword"></td>
        </tr>
      <!--  <tr>
            <input class="checkbox" asp-for="RememberMe"/>
        </tr> -->
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>


<a asp-controller="accounts" asp-action="logout">Logout</a>